
body{
    background-image: url("");
}
:root{
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Roboto',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

/* this customizes the scrollbar*/
html ::-webkit-scrollbar{
    width: 1rem;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 5rem;
}

section{
    padding: 8rem 9%;

}

.heading{
    text-align: center;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding: 1,2rem 0;
}

.btn{
    font-size: 1.7rem;
    display: inline-block;
    background: black;
    color: white;
    box-shadow: black;
    border-radius: 5rem;
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0%;
    background: greenyellow;
    z-index: -1;
    transition: .3s linear;
    left: 0;

}

/* header */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: white;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: blue;
}

.header .logo i{
    color: blue;
}

.header .navbar a{
    font-size: 1.7rem;
    color: blue;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: green;
}



/*Home*/

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(LSL_B2_Sea-Turtle-Hatchery-and-Rescue-Centre_1920x700.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}

.hikkaduwa{
    min-height: 70vh;
    display: flex;
    align-items: center;
    background: url(hikkaduwa-beach-1-1920x960.jpg) no-repeat;
    background-size: cover;
    background-position: top;

}

.Benthota{

    min-height: 70vh;
    display: flex;
    align-items: center;
    background: url(BB2.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}

.kosgoda{
    min-height: 70vh;
    display: flex;
    align-items: center;
    background: url(KB.jpg) no-repeat;
    background-size: cover;
    background-position: top;

}

.threat{
    min-height: 70vh;
    display: flex;
    align-items: center;
    background: url(93yoma3bfr_Loggerhead_Turtle_Caught_in_Net_WW2122572.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}

.text{
    width: 120rem;
}

.text h1{
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.text .content{
    flex: 1 1 39rem;
}

.text .content h3{
    font-size: 2rem;

}

.text .content p{
    font-size: 1.7rem;
    line-height: 1.8;
    color: #525252;
}

.map{
    margin-top: 100px;
    margin-left: 100px;
}


.banner{
    background: url(banner.png) no-repeat;
}

.banner.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
}

.banner .row .content{
    flex: 1 1 39rem;
}

.banner .row .content h3{
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}

.banner .row .content p{
    font-size: 1.6rem;
    color: #525252;
    padding: 1rem 0;
    line-height: 1.8; /* gap between lines */
}

.banner .row .image{
    flex: 1 1 41rem;
    margin-bottom: -14rem;
}

.banner .row .image img{
    width: 100%;
}
  
/*end*/

/*about*/

.polution .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
}

.polution .deco-title{
    font-size: 10rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(204,204,204);
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 20%;
    left: 48%;
    z-index: -1;
    
}

.polution .box-container .image{
    flex: 1 1 31rem;
}

.polution ,.box-container .image img{
    padding-bottom: 1500px;
    width: 100%;
}

.polution .content{
    flex: 1 1 41rem;
}

.polution .content .title{
    font-size: 4rem;
    color: var(--black);
}

.polution .content p{
    font-size: 1.7rem;
    color: #444;
    padding: 1rem 0 1rem 2rem;
    line-height: 2;
}

.polution .content ol{
    font-size: 1.7rem;
    color: #444;
    padding: 1rem 0 1rem 2rem;
    line-height: 2;
}

.polution .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 3rem;
}

.polution .content .icons-container .icons{
    flex: 1 1 16rem;
    text-align: center;
    background: var(--bg);
    padding: 3rem 2rem;
}

.polution .content .icons-container .icons .fas{
    height: 5rem;
    font-size: 4rem;
    color: var(--main);
}

.polution .content .icons-container .icons h3{
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    color: #444;
    font-weight: normal;
}


/*end*/
/*about*/

.about .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    height: 1800px;
}

.about .deco-title{
    font-size: 10rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(204,204,204);
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 20%;
    left: 48%;
    z-index: -1;
    
}

.about .box-container .image{
    flex: 1 1 31rem;
    padding-top: 0rem;
}

.about ,.box-container .image img{
    width: 100%;
}

.about .content{
    flex: 1 1 41rem;
    padding-top: 0rem;
    margin-bottom: 2500px;
    
}

.about .content .title{
    font-size: 4rem;
    color: var(--black);
}

.about .content p{
    font-size: 1.7rem;
    color: #444;
    padding: 1rem 0 1rem 2rem;
    line-height: 2;
}

.about .content ol{
    font-size: 1.7rem;
    color: #444;
    padding: 1rem 0 1rem 2rem;
    line-height: 2;
}


.about .map{
    padding-top: 10px;
    margin-top: 1rem;
}


/*end*/ 

/*Gallery*/

.gallery{
    background: var(--bg);
}

.gallery .slide .image{
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.gallery .slide .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
    color: var(--white);
}
/*end*/

/* animals*/

.animal{
    margin-top: 100px;
}

.animal .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.animal .box-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.animal .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.animal .box-container .box:hover img{
    transform: scale(1.1);
}

.animal .box-container .box .content{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    padding: 20px;
    z-index: 1;
    transition: 0.5s ease;
}

.animal .box-container .box:hover::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.5;
    transition: 0.5s ease;

}

.animal .box-container .box .content h3{
    text-align: center;
    font-size: 3rem;
    color: white;
}
/* end */

/* banner */

.banner{
    background: url(banner.png) no-repeat;
  }
  
  .banner .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
  }
  
  .banner .row .content{
    flex:  1 1 39rem;
  }
  
  .banner .row .content h3{
    font-size: 2rem;
    color: var(--main);
    text-transform: uppercase;
  }
  
  .banner .row .content p{
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;     
  }
  .banner .row .content ol{
    font-size: 1.6rem;
    padding: 0 1rem;
  }
  .banner .row .content ul{
    font-size: 1.6rem;
    padding: 0 1rem;
  }
  

/* end */

/* prices */

.pricing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.pricing .box-container .box{
    background: var(--bg);
    padding: 3rem;
    text-align: center;
    border-radius: 79% 51% 81% 19% / 58% 93% 7% 42%;
}

.pricing .box-container .box:hover{
    border-radius: .1rem;
}

.pricing .box-container .box img{
    height: 15.5rem;
    width: 15.5rem;
    margin-bottom: .5rem;
}

.pricing .box-container .box h3{
    font-size: 2.6rem;
    color: var(--black);
    padding: 1rem 0;
}

.pricing .box-container .box .price{
    font-size: 2.2rem;
    color: var(--main);
    padding: -5rem 0;
}

.pricing .box-container .box p{
    font-size: 1.5rem;
    color: var(--black);
    padding: .5rem 0;
}
/* end */

/* contact */


.contact{
    background: var(--bg);
}

.contact form{
    padding: 2rem 10%;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea{
    font-size: 1.7rem;
    width: 49%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    text-transform: capitalize;
}

.contact form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}
/* end */

/* footer */

.footer{
    background-color: blue;
    background-size: cover;
    padding: 3rem 7%;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box P{
    font-size: 1.5rem;
    line-height: 1.8;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: white;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}

/* donaate */

.donate .content{
    background: rgba(0, 0, 0, 0.5);
    flex: 1 1 41rem;
    padding-top: 0rem;
    margin-bottom: 2500px;
}

.donate .content p{
    font-size: 1.7rem;
    color: var(--white);
    padding: 1rem 0 1rem 2rem;
    line-height: 2;
}

.donate .content a{
    font-size: 1.7rem;
    color: var(--white);
    padding: 1rem 0 1rem 2rem;
    line-height: 2;
}

/* Global */
* {
    box-sizing: border-box;
}
 
body,
html {
    height: 100%;
    min-height: 100%;
}
 
body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    background-color: #e7e7e7;
}

/* Credit Card */
.credit-card {
    width: 360px;
    height: 400px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
 
.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.services .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .box-container .box .content{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.services .box-container .box:hover .content{
    transform: translate(-50%, -50%) scale(1);
}

.services .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.services .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

/*Table*/

.tab{
    background-color: lightskyblue;
    font-size: 20px;
}